[mysqld]
datadir=/data/mysql
collation-server = utf8_unicode_ci
character-set-server = utf8
log-bin=/data/mysql/logs/binary_log
max_allowed_packet=512M

[mysqld_safe]
ulimit -d 256000
ledir=/usr/sbin
mysqld=mysqld
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
default-character-set=utf8
